
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
  background-color: #242424;
}

.content-holder{
  text-align: center;
}

.button-title{
  color: orange;
}

.like-button{
  border-radius: 5px;
  border-size: 1px;
  box-shadow: 1px 0px 3px 0px black;
  color: white;
  background-color: #4CBB17;
  font-size: 30px;
}
